@import "../../Fonts.css";

.suggestionContainer {
  color: black;
  margin-bottom: 32px;
}

.jsonToCopy {
  background-color: gainsboro;
  padding: 10px;
}

.ingredientOption {
  display: flex;
}

.stepsOption {
  display: flex;
}
