@import "../../Fonts.css";

.recipeContainer {
  background-color: var(--green);
  width: 100%;
  margin: 80px 0 0 0;
  font-family: var(--second-font-family);
}

.recipeContainer h1 {
  font-size: x-large;
  text-align: center;
}

.recipeDetails {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.recipeDetails img {
  height: 15px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .recipeIngredientsAndProcess {
    flex-direction: row;
  }
  .recipeProcess {
    width: 60vw;
  }
}

.recipeIngredientsAndProcess {
  display: flex;
  flex-direction: column;
}

.recipeIngredientsAndProcess h2 {
  text-align: left;
  margin-left: 20px;
}

.recipeProcess {
  font-size: 18px;
  width: 95%;
  margin: 0 auto;
}

.recipeProcess ol li {
  margin: 5px 0;
}

.recipePictureContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .recipePicture {
    width: 200px;
  }
}

.recipePicture {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  margin: 0 auto;
}
