@import '../../Fonts.css';

.header {
  background-color: var(--dark-green);
  font-family: var(--second-font-family);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  padding: 0 5vw 0 0;
  font-size: 16px;
  position: fixed;
  top: 0;
  height: 80px;
}
.header h1 {
  margin: 0;
}

@media (min-width: 768px) {
  .header {
    font-size: 24px;
  }

  .headerLogo {
    height: 80px;
  }
}

.headerLogo {
  height: 60px;
}