:root {
  /* --main-font-family: 'Kumar One', cursive;
    --second-font-family: 'Chakra Petch', sans-serif; */
  --x-light-green: #f6fff8;
  --light-green: #eaf4f4;
  --green: #cce3de;
  --dark-green: #a4c3b2;
  --x-dark-green: #6b9080;
}
