:root {
    /* --main-font-family: 'Kumar One', cursive;
    --second-font-family: 'Chakra Petch', sans-serif; */
    --green: #ADBCA5;
    --melon: #E8B9AB;
    --pink: #E09891;
    --orchid: #CB769E;
    --mauve: #8C5F66;
  }
  